<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/style.css" />

    <title>ToBiLow</title>
  </head>
  <body>
    <section id="header">
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">ToBiLow</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/produtos">Produtos</a>
              <a class="nav-link" href="/sobre-nos">Sobre Nós</a>
            </div>
            <div class="navbar-nav ml-auto">
              <a class="nav-link" href="/login">Login</a>
              <a class="nav-link" href="/register">Register</a>
              <a class="nav-link" href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </section>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
